@import "tailwindcss";

:root {
  --bg-color: #eeeeee;
  --text-color: #333333;
  --brandMoon: #fbbf24;
  --step: #e0d9d9;
}

html,body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark {
  --bg-color: #333333;
  --text-color: #f0f0f0;
  --brandMoon: #374151;
  --step: #615e5e;
}


option {
  background-color: #444444;
  color: #f0f0f0;
  border: 1px solid #555555;
  overflow: scroll;

}


.custom-scrollbar {
  overflow: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.loading {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-top: 2px solid orangered;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px dotted black;
  border-top: 10px solid orangered;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.9s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.9s ease infinite;
  }
}

.adaptive-bg {
  width: 100%;
  height: 200px;
  background: linear-gradient(90deg, #333333, #eeeeee);
  display: flex;
  align-items: center;
  background-color: #ed88361c;
  justify-content: center;
}

.adaptive-text {
  color: white;
  mix-blend-mode: difference;
}



@media (prefers-color-scheme: dark) {
html, body {
    color: var(--text-color);
    background-color: var(--bg-color);
  }
}

@keyframes walk-across {
    0% {
      transform: translateX(-50vw);
    }
    100% {
      transform: translateX(50vw);
    }
}

.animation-walk {
    animation: walk-across 10s linear infinite;
}


